---
import PostList from '@/components/PostList.astro'
import Breadcrumb from '@/components/ui/Breadcrumb.astro'
import { type Lang, useTranslations, useTranslatedPath } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'
import { getTags } from '@/utils/get-tags'
import { getPostsByTag } from '@/utils/get-contents'
import { languages, defaultLang } from '@/i18n/ui'

export async function getStaticPaths() {
  const langs = Object.keys(languages) as Lang[]
  const paths = await Promise.all(
    langs.map(async (l) => {
      const tags = await getTags(l)
      return tags.map((tag) => ({
        params: {
          lang: l === defaultLang ? undefined : l,
          tag: decodeURI(tag.name),
        },
        props: { lang: l },
      }))
    }),
  )
  return paths.flat()
}

const { lang } = Astro.props as { lang: Lang }
const tag = Astro.params.tag!
const posts = await getPostsByTag(tag, lang)

const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<Layout title={`${t('nav.tags')}: ${tag}`}>
  <main class="mx-auto flex w-full max-w-3xl flex-1 flex-col px-4">
    <div class="border-grid flex h-16 items-center border-b">
      <Breadcrumb
        items={[
          { label: t('nav.tags'), href: translatePath('/tags') },
          { label: tag },
        ]}
      />
    </div>

    <PostList posts={posts} />
  </main>
</Layout>
