---
import BlogLayout from '@/layouts/BlogLayout.astro'
import Layout from '@/layouts/Layout.astro'
import ArticleCard from '@/components/ArticleCard.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import { getPostsByLang } from '@/utils/get-contents'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const posts = await getPostsByLang(lang)
---

<Layout title={t('nav.blog')}>
  <BlogLayout>
    <section aria-label="posts" class="my-8 space-y-8">
      {posts.map((post) => <ArticleCard post={post} />)}
    </section>
  </BlogLayout>
</Layout>
