---
import ProjectCard from '@/components/ProjectCard.astro'
import { useTranslations, type Lang } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'
import ProjectLayout from '@/layouts/ProjectLayout.astro'
import { getProjectsByLang } from '@/utils/getPosts'
import { languages, defaultLang } from '@/i18n/ui'

export async function getStaticPaths() {
  return Object.keys(languages)
    .filter((l) => l !== defaultLang)
    .map((l) => ({ params: { lang: l } }))
}

const { lang } = Astro.params as { lang: Lang }
const t = useTranslations(lang)
const sortedProjects = await getProjectsByLang(lang)
---

<Layout title={t('nav.projects')}>
  <ProjectLayout>
    <section
      aria-label="projects"
      class="container mx-auto grid gap-8 px-4 md:grid-cols-2 xl:grid-cols-3"
    >
      {sortedProjects.map((project) => <ProjectCard project={project} />)}
    </section>
  </ProjectLayout>
</Layout>
