---
import BlogLayout from '@/layouts/BlogLayout.astro'
import Layout from '@/layouts/Layout.astro'
import { type Lang, useTranslations, useTranslatedPath } from '@/i18n/utils'
import { getTags } from '@/utils/get-tags'
import { languages, defaultLang } from '@/i18n/ui'

export async function getStaticPaths() {
  return Object.keys(languages)
    .filter((l) => l !== defaultLang)
    .map((l) => ({ params: { lang: l } }))
}

const { lang } = Astro.params as { lang: Lang }
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)

const tags = await getTags(lang)
---

<Layout title={t('nav.tags')}>
  <BlogLayout>
    <div class="my-8 flex flex-1 flex-col items-center md:my-16">
      <h1 class="text-3xl font-semibold">{t('tags.title')}</h1>
      <ul class="mt-8 flex max-w-lg flex-wrap justify-center gap-6 md:mt-16">
        {tags.map((tag) => (
          <li>
            <a
              href={translatePath(`/tags/${tag.name}`)}
              class="group border-grid hover:border-primary flex items-center gap-2 border-b"
            >
              <span
                class="text-foreground group-hover:text-primary text-sm font-medium"
              >{`#${tag.name}`}</span>
              <span
                class="bg-muted text-muted-foreground group-hover:bg-primary/30 rounded-full px-2 text-xs"
              >{tag.count}</span>
            </a>
          </li>
        ))}
      </ul>
    </div>
  </BlogLayout>
</Layout>
