---
import BlogLayout from '@/layouts/BlogLayout.astro'
import Layout from '@/layouts/Layout.astro'
import { useTranslations, type Lang } from '@/i18n/utils'
import { getArchives } from '@/utils/get-contents'
import PostList from '@/components/PostList.astro'
import { languages, defaultLang } from '@/i18n/ui'

export function getStaticPaths() {
  return Object.keys(languages).map((l) => ({
    params: { lang: l === defaultLang ? undefined : l },
    props: { lang: l as Lang },
  }))
}

const { lang } = Astro.props as { lang: Lang }
const t = useTranslations(lang)

const postsGroupedByYear = await getArchives(lang)
---

<Layout title={t('nav.archives')}>
  <BlogLayout>
    <div class="mx-auto w-full max-w-3xl">
      <h1 class="sr-only">{t('nav.archives')}</h1>
      <PostList posts={postsGroupedByYear} />
    </div>
  </BlogLayout>
</Layout>
