---
import Layout from '@/layouts/Layout.astro'
import { useTranslations, useTranslatedPath, type Lang } from '@/i18n/utils'
import { languages, defaultLang } from '@/i18n/ui'
import ArticleCard from '@/components/ArticleCard.astro'
import Button from '@/components/ui/Button.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { siteConfig } from '@/site.config'
import Hero from '@/components/Hero.astro'
import { getPostsByLang, getProjectsByLang } from '@/utils/get-contents'
import { getAuthorSchema } from '@/utils/schema'

export function getStaticPaths() {
  return Object.keys(languages).map((l) => ({
    params: { lang: l === defaultLang ? undefined : l },
    props: { lang: l as Lang },
  }))
}

const { lang } = Astro.props as { lang: Lang }

const posts = await getPostsByLang(lang)
const recentPosts = posts.slice(0, siteConfig.recentPostsCount)

const showRecentProjects = siteConfig.enableProjectsShowcase
  && siteConfig.enableRecentProjectsOnHomepage
const recentProjects = showRecentProjects
  ? (await getProjectsByLang(lang)).slice(0, siteConfig.recentProjectsCount)
  : []

const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)

const websiteSchema = {
  '@context': 'https://schema.org',
  '@type': 'WebSite',
  name: siteConfig.locales[lang].title,
  url: siteConfig.site,
  description: siteConfig.locales[lang].description,
  inLanguage: lang,
  author: getAuthorSchema(lang),
}
---

<Layout title={t('nav.home')}>
  <script
    is:inline
    slot="head"
    type="application/ld+json"
    set:html={JSON.stringify(websiteSchema)}
  />
  <main>
    <Hero />
    <section
      aria-label="posts"
      class="mx-auto max-w-lg px-4 py-16 md:max-w-5xl"
    >
      <header class="text-center">
        <h2 class="text-3xl font-bold">{t('home.recentPosts')}</h2>
      </header>
      <div class="my-12 space-y-8">
        {recentPosts.map((post) => <div><ArticleCard post={post} /></div>)}
      </div>
      <footer class="flex flex-col items-center">
        <Button
          href={translatePath('/posts')}
          variant="outline"
          class="rounded-full px-8 text-base"
        >{t('home.morePosts')}</Button>
      </footer>
    </section>
    {showRecentProjects && (
      <section
        aria-label="projects"
        class="mx-auto max-w-lg px-4 py-16 md:max-w-5xl xl:max-w-7xl"
      >
        <header class="text-center">
          <h2 class="text-3xl font-bold">{t('home.recentProjects')}</h2>
        </header>
        <div
          aria-label="projects"
          class="mx-auto my-16 grid gap-8 md:grid-cols-2 xl:grid-cols-3"
        >
          {recentProjects.map(project => (
            <div><ProjectCard project={project} /></div>
          ))}
        </div>
        <footer class="flex flex-col items-center">
          <Button
            href={translatePath('/projects')}
            variant="outline"
            class="rounded-full px-8 text-base"
          >{t('home.moreProjects')}</Button>
        </footer>
      </section>
    )}
  </main>
</Layout>
