---
import BlogLayout from '@/layouts/BlogLayout.astro'
import Layout from '@/layouts/Layout.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import { getCategories } from '@/utils/get-categories'
import CategoryList from '@/components/CategoryList.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const categories = await getCategories(lang)
---

<Layout title={t('nav.categories')}>
  <BlogLayout>
    <div class="w-full">
      <div class="my-8 flex flex-1 flex-col items-center md:my-16">
        <h2 class="text-3xl font-semibold">{t('categories.title')}</h2>
        <CategoryList categories={categories} />
      </div>
    </div>
  </BlogLayout>
</Layout>
