---
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
---

<Layout title="404 Not Found">
  <main class="flex flex-1 flex-col items-center justify-center gap-8 tracking-wide">
    <h1 class="text-muted-foreground text-8xl font-bold">404</h1>
    <p class="text-center">页面未找到</p>
    <a href="/" class="hover:text-muted-foreground flex items-center gap-2">
      <Icon name="ri:arrow-left-line" />
      返回首页
    </a>
  </main>
</Layout>
