---
import BlogLayout from '@/layouts/BlogLayout.astro'
import Layout from '@/layouts/Layout.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import { getArchives } from '@/utils/get-contents'
import PostList from '@/components/PostList.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const postsGroupedByYear = await getArchives(lang)
---

<Layout title={t('nav.archives')}>
  <BlogLayout>
    <div class="mx-auto w-full max-w-3xl">
      <PostList posts={postsGroupedByYear} />
    </div>
  </BlogLayout>
</Layout>
