---
import Layout from '@/layouts/Layout.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Promo from '@/components/Promo.astro';
import { getCollection } from 'astro:content';

const promo = await getCollection('promo');
const latestPromo = promo.sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())[0]

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title={t('nav.home')}>
	<section aria-label="promo" class="container mx-auto max-w-[1400px] px-4 my-8">
    <Promo {...latestPromo} />
  </section>
</Layout>
