---
import type { Category } from '@/utils/get-categories'

interface Props {
  categories: Category[]
}

const { categories } = Astro.props
---

<ul class="mt-8 flex w-full max-w-lg flex-col gap-1 md:mt-16">
  {categories.map((category) => (
    <li>
      <a
        href={category.href}
        class="hover:bg-muted relative flex items-center justify-between rounded-lg px-3 py-2 text-sm font-medium"
      >
        <span class="px-2">{category.name}</span>
        <span
          class="pointer-events-none absolute right-2 flex h-5 min-w-5 items-center justify-center rounded-md px-1 text-xs font-medium tabular-nums select-none"
        >{category.count}</span>
      </a>
    </li>
  ))}
</ul>
