---
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@/i18n/utils';
import NavIcon from "./NavIcon.astro";
import { ModeToggle } from "./ModeToggle";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header class="border-grid sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
  <div class="mx-auto container flex px-4 h-14 items-center gap-2 md:gap-4">
    <div class="mr-4 hidden md:flex">
      <a class="mr-4 flex items-center gap-2 lg:mr-6" href="/">
        <Icon name="ri:quill-pen-fill" />
        <span class="hidden font-bold lg:inline-block">Kyle's Blog</span>
      </a>
      <nav class="flex items-center gap-4 text-sm xl:gap-6">
        <a class="transition-colors hover:text-foreground/80 text-foreground/80" href={translatePath('/posts')}>{t('nav.blog')}</a>
        <a class="transition-colors hover:text-foreground/80 text-foreground/80" href={translatePath('/projects')}>{t('nav.projects')}</a>
        <a class="transition-colors hover:text-foreground/80 text-foreground/80" href={translatePath('/about')}>{t('nav.about')}</a>
      </nav>
    </div>
    <div class="ml-auto flex items-center gap-2 md:flex-1 md:justify-end">
      <div class="hidden w-full flex-1 md:flex md:w-auto md:flex-none">
        <button class="inline-flex items-center gap-2 whitespace-nowrap transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input hover:bg-accent hover:text-accent-foreground px-4 py-2 relative h-8 w-full justify-start rounded-[0.5rem] bg-muted/50 text-sm font-normal text-muted-foreground shadow-none sm:pr-12 md:w-40 lg:w-56 xl:w-64">
          <span class="hidden lg:inline-flex">Search...</span>
          <kbd class="pointer-events-none absolute right-[0.3rem] top-[0.3rem] hidden h-5 select-none items-center gap-1 rounded border bg-muted px-1.5 font-mono text-[10px] font-medium opacity-100 sm:flex">
            <span class="text-xs">⌘</span>K
          </kbd>
          </button>
        </div>
        <nav class="flex items-center gap-0.5">
          <NavIcon name="GitHub" href="https://github.com/KyleRicardo" icon="ri:github-fill" external={true} />
          <NavIcon name="Twitter" href="https://x.com/KyleRicardo666" icon="ri:twitter-x-line" external={true} />
          <NavIcon name="Bluesky" href="https://bsky.app/profile/kylericardo.bsky.social" icon="ri:bluesky-line" external={true} />
          <NavIcon name="RSS Feed" href="https://example.com" icon="ri:rss-fill" external={true} />
          <button class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:bg-accent hover:text-accent-foreground h-8 w-8 px-0">
            <Icon name="ri:translate-2" />
            <span class="sr-only">Translate</span>
          </button>
          <ModeToggle client:load />
        </nav>
    </div>
  </div>
</header>
