---
import { Icon } from 'astro-icon/components'

interface Props {
  name: string
  shortName?: string
  href: string
  icon: string
  size?: 'sm' | 'md' | 'lg'
  external?: boolean
}

const { name, shortName, href, icon, size = 'md', external } = Astro.props
---

<a
  target={external ? '_blank' : '_self'}
  href={href}
  class:list={[
    'group inline-flex flex-wrap items-center justify-center px-3 py-1.5 gap-2 bg-secondary/50 hover:bg-secondary text-secondary-foreground border border-border/40 hover:border-border rounded-full whitespace-nowrap transition-all duration-300 ease-out hover:scale-105 active:scale-95 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0',
    { '[&_svg]:size-3.5': size === 'sm' },
    { '[&_svg]:size-5': size === 'md' },
    { '[&_svg]:size-7': size === 'lg' },
  ]}
>
  <Icon name={icon} class="opacity-75" />
  <span class="font-medium hidden sm:block">{name}</span>
  <span class="font-medium sm:hidden">{shortName ?? name}</span>
</a>
