---
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import { useTranslations, useTranslatedPath, type Lang } from '@/i18n/utils'
import { languages, defaultLang } from '@/i18n/ui'

export async function getStaticPaths() {
  return Object.keys(languages)
    .filter((l) => l !== defaultLang)
    .map((l) => ({ params: { lang: l } }))
}

const { lang } = Astro.params as { lang: Lang }
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<Layout title={t('404.title')}>
  <main class="flex flex-1 flex-col items-center justify-center gap-8 tracking-wide">
    <h1 class="text-muted-foreground text-8xl font-bold">404</h1>
    <p class="text-center">{t('404.description')}</p>
    <a
      href={translatePath('/')}
      class="hover:text-muted-foreground flex items-center gap-2"
    >
      <Icon name="ri:arrow-left-line" />
      {t('404.backHome')}
    </a>
  </main>
</Layout>
