---
import ProjectCard from '@/components/ProjectCard.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'
import ProjectLayout from '@/layouts/ProjectLayout.astro'

import { getProjectsByLang } from '@/utils/get-contents'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const sortedProjects = await getProjectsByLang(lang)
---

<Layout title={t('nav.projects')}>
  <ProjectLayout>
    <section
      aria-label="projects"
      class="container mx-auto grid gap-8 px-4 md:grid-cols-2 xl:grid-cols-3"
      data-reveal-stagger
    >
      {sortedProjects.map(project => (
        <div data-reveal><ProjectCard project={project} /></div>
      ))}
    </section>
  </ProjectLayout>
</Layout>
