---
import BlogLayout from '@/layouts/BlogLayout.astro'
import Layout from '@/layouts/Layout.astro'
import { type Lang, useTranslations } from '@/i18n/utils'
import { getCategories } from '@/utils/get-categories'
import CategoryList from '@/components/CategoryList.astro'
import { languages, defaultLang } from '@/i18n/ui'

export async function getStaticPaths() {
  return Object.keys(languages)
    .filter((l) => l !== defaultLang)
    .map((l) => ({ params: { lang: l } }))
}

const { lang } = Astro.params as { lang: Lang }
const t = useTranslations(lang)

const categories = await getCategories(lang)
---

<Layout title={t('nav.categories')}>
  <BlogLayout>
    <div class="w-full">
      <div class="my-8 flex flex-1 flex-col items-center md:my-16">
        <h2 class="text-3xl font-semibold">{t('categories.title')}</h2>
        <CategoryList categories={categories} />
      </div>
    </div>
  </BlogLayout>
</Layout>
