---
import PostList from '@/components/PostList.astro'
import Breadcrumb from '@/components/ui/Breadcrumb.astro'
import { type Lang, useTranslations, useTranslatedPath } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'
import { generateCategorySlugs } from '@/utils/get-categories'
import { getPostsByCategory } from '@/utils/get-contents'
import { languages, defaultLang } from '@/i18n/ui'

export async function getStaticPaths() {
  const langs = Object.keys(languages) as Lang[]
  const paths = await Promise.all(
    langs.map(async (l) => {
      const slugs = await generateCategorySlugs(l)
      return slugs.map((slug) => ({
        params: {
          lang: l === defaultLang ? undefined : l,
          slug,
        },
        props: { lang: l },
      }))
    }),
  )
  return paths.flat()
}

const { lang } = Astro.props as { lang: Lang }
const slug = Astro.params.slug!
const posts = await getPostsByCategory(slug, lang)

const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<Layout title={`${t('nav.categories')}: ${slug}`}>
  <main class="mx-auto flex w-full max-w-3xl flex-1 flex-col px-4">
    <div class="border-grid flex h-16 items-center border-b">
      <Breadcrumb
        items={[
          { label: t('nav.categories'), href: translatePath('/categories') },
          { label: slug },
        ]}
      />
    </div>

    <h1 class="sr-only">{`${t('nav.categories')}: ${slug}`}</h1>
    <PostList posts={posts} />
  </main>
</Layout>
