---
import Layout from './Layout.astro'
import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string
  showHeader?: boolean
}>

const { frontmatter } = Astro.props
const { title, showHeader } = frontmatter
---

<Layout title={title}>
  <main
    class="container mx-auto my-4 flex max-w-3xl flex-1 flex-col md:my-16"
    astro-content
  >
    {showHeader && (
      <header class="flex flex-col items-center gap-4 tracking-wide">
        <h1 class="text-center text-2xl font-semibold md:text-3xl md:font-bold">
          {title}
        </h1>
      </header>
    )}
    <article class="prose dark:prose-invert mt-8 px-4">
      <slot />
    </article>
  </main>
</Layout>
