---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<main class="container mx-auto flex max-w-7xl min-w-xs flex-1 flex-col px-4">
  <header class="my-8 text-center md:my-16">
    <h1 class="mb-4 text-4xl font-bold">{t('projects.title')}</h1>
    <p class="text-muted-foreground font-medium">{t('projects.description')}</p>
  </header>
  <slot />
</main>
